.app__menuitem {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;

    &_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_sub {
        width: 100%;
        margin-top: 0.2rem;
    }

    &_name {
        flex: 1;
    }

    &_dash {
        width: 90px;
        height: 1px;
        background-color: var(--color-golden);
        margin: 0 1rem;
    }

    &_price {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}